// colorコード  こっちをいじいじ
// バックグラウンド
$bgc : #043873;
// 文字
$text-w : #ffffff;
$text-b : #212529;

// ボタン
$btn : #4F9CF9;
// コンテンツ幅
$pc-width : 77%;
$sp-width : 100%;
// font 16でわるとrem
$font-fam :"inter";
$h2-72 : 4.5rem;
$h2-64 : 4rem;
$h3-70 : 4.375rem;
$h4-24 : 1.5rem;
$h4-28 : 1.75rem;
$h5-18 : 1.125rem;
$p-18 : 1.125rem;
$f-16 : 1rem;

$h2-fontw : 700; //h2　fontweight 
$h4-fontw : 600;
$p-fontw : 400;


$h2-lineh : 5.437rem; //h2 line-height about87px
$h4-lineh : 2.25rem; //h4 36px
$p-lineh : 1.875rem; //

// 余白
$s-mtb : 8.75rem auto; //h2のマージントップ
$btm-mtop : 3.75rem; //フレックスボックス内のボタンマージンTOP
$p-mtop : 1.5rem; //フレックスボックス内のｐタグマージンTOP



* {
    // border: 1px solid gray;
    box-sizing: border-box;
    letter-spacing: -0.02em; //文字間のスペース
    font-family: 'Inter', sans-serif;

}

body {
    max-width: 1920px;
    font-family: 'Inter', sans-serif;
}

section {
    width: 100%;
}

































































































































































































































































// 🍙ちさぞーん

// s5:Your work, everywhere you are
// TO DO>>> bg-imgの追加とh2下の青線
.s5 {
    padding: 50px 0 50px;
    // position: relative;
    // background-image: url(../../img/s5_bgimg.png);
    // background-repeat: no-repeat;
    // background-size: 50% ;
    // background-position: 0 0;

    // background-image: url(../img/s5_bgimg.png);
    .contents {
        text-align: center;

        h2 {
            background-image: url(../../img/s5_udline.png);
            background-repeat: no-repeat;
            background-size: 21%;
            background-position: bottom right 15%;
        }

        p {
            font-family: $font-fam;
            font-size: 1.125rem;
            /* 18px */
            font-weight: 400;
            line-height: 1.875rem;
            /* 30px */
            margin-top: 1.5rem;
            /* 24px */
            width: 97%;
            /* サイズ通りなら71.8% */
            margin: 1.5rem auto 0;
        }
    }

    img {
        position: absolute;

    }
}

// section6:2つの塊があります
// TO DO>>> h2下の黄線とimgのサイズ調整
.s6 {

    // 100% your data ←flexかかる
    .container {
        margin-bottom: 8.75rem;

        /* 140px */
        .container-box {
            h2 {
                background-image: url(../../img/s6_udline.png);
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: bottom right 50%;
            }

            p {
                font-family: $font-fam;
                font-weight: 400;
                font-size: $p-18;
                line-height: 1.875rem;
                /* 30px */

            }
        }

        #s6-img {
            width: 46%;
            height: auto;
            object-fit: contain;
        }
    }

    // Our sponsors
    .contents {
        text-align: center;
        margin-top: 8.75rem;

        /* 140px */
        h2 {
            background-image: url(../../img/s6_udline2.png);
            background-repeat: no-repeat;
            background-size: 23%;
            background-position: bottom left 58%;
        }

        .sponsors-icon {
            margin-top: 10rem;
            margin-bottom: 14rem;
            display: flex;
            justify-content: space-around;

            #s6-apple {
                width: 3.467rem;
                /* 55.47px */
                height: auto;
            }

            #s6-microsoft {
                width: 17.937rem;
                /* 287px */
                height: auto;
            }

            #s6-slack {
                width: 17.443rem;
                /* 279.1px */
                height: auto;
            }

            #s6-google {
                width: 13.187rem;
                /* 211px */
                height: auto;
            }
        }
    }

}

// s7:Work with Your Favorite Apps Using whitepace
// フレックスかかる
// TO DO>>> bg-imgの追加とh2下の青線
.s7 {

    padding: 50px 0 50px;
    // background-image: url(../img/s7_bgimg.png);
    // background-position: center;
    // background-size: cover;
    .s7-img {
        display: block;
        // width: 36.375rem;/* 582px */
        // height: auto;
    }

    .container-box {
        p {
            font-family: $font-fam;
            font-size: 1.125rem;
            /* 18px */
            font-weight: 400;
            line-height: 1.875rem;
            /* 30px */
            margin-top: 1.5rem;
            /* 24px */
        }
    }
}

// s8:What Our Clients Says
.s8 {
    text-align: center;

    h3 {
        font-family: $font-fam;
        font-size: $h3-70;
        font-weight: 700;
        line-height: $h2-lineh;
        background-image: url(../../img/s8_udline.png);
        background-repeat: no-repeat;
        background-size: 18%;
        background-position: bottom right 23%;
    }

    // ここにカード*3のスタイルかく
    // カード全体（3枚の共通事項）
    .card-box {
        display: flex;
        justify-content: space-between;
        width: 471.67px;
        /* 471.67px */
        height: 31.153rem;
        /* 498.46px */
        // border: solid 1px red;
        
        /* 完成後コメントアウト */

        .card {
            padding: 60px 40px;
            border-radius: 10px;
            // width: 471.67px;
            .quote {
                img {
                    width: 86px;
                    height: 61.46px;
                }
            }

            p {
                font-family: $font-fam;
                font-size: 1.125rem;
                /* 18px */
                font-weight: 400;
                line-height: 1.875rem;
                /* 30px */
                margin-top: 2rem;
                /* 32px */
                margin-bottom: 2.5rem;
                /* 40px */
                text-align: start;
                width: 24.479rem;
                /* 391.67px */
                height: auto;
            }

            .content {
                display: flex;

                img {
                    width: 5.6975rem;
                    /* 95px */
                    height: 5.6975rem;
                    margin-right: 2.625rem;
                    /* 42px */
                }

                .avater-info {
                    width: 9.4615rem;
                    /* 246px */
                    height: auto;

                    h4 {
                        font-family: $font-fam;
                        font-size: $h4-24;
                        font-weight: 600;
                        line-height: 2.25rem;
                        /* 36px */
                        // color: $text-b;

                    }

                    p {
                        font-family: $font-fam;
                        font-size: $f-16;
                        font-weight: 400;
                        line-height: 1.25rem;
                        /* 20px */
                        margin-top: 0.9375rem;
                        /* 15px */
                        // text-align: start;
                        width: 9.4615rem;
                    }
                }
            }
        }
    }

    // 左側カード（オレンジの女性）
    .card1 {
        background-color: $text-w;
    }

    // 真ん中カード
    .card2,
    .card3 {
        background-color: $btn;

        h4 {
            color: $bgc;
        }

        p {
            color: $text-w;
        }
    }

    //  右側カード
}

// s9:Try Whitepace today
.s9 {
    text-align: center;
    padding: 50px 0 50px;
    .section-wrap {

        p {
            font-family: $font-fam;
            font-size: 1.5rem;
            /* 24px */
            font-weight: 400;
            line-height: 2rem;
            /* 32px */
            margin-top: 1.5rem;
            /* 24px */
        }

        #s9-text2 {
            margin-top: 2.5rem;
            /* 40px */
        }

        .s9-icons {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 2.5rem;
            width: 17.5%;
            height: 60px;

            /* 40px */
            .s9-apple {
                width: 48.94px;
                /* 60px */
                height: auto;
            }

            .s9-microsoft {
                width: 60px;
                /* 60px */
                height: auto;
            }

            .s9-android {
                width: 50.77px;
                /* 60px */
                height: auto;
            }
        }

    }
}

// フッター
// フッター上
.footer-upper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    // whitepace
    .contents {
        img {
            width: 11.937rem;
            /* 191px */
            height: auto;
        }

        .vector {
            width: 10px;
            height: 10px;
        }

        p {
            width: 15rem;
            /* 240px */
            height: auto;
            margin-top: 0.9375rem;
            /* 15px */
            font-family: $font-fam;
            font-size: $p-18;
            font-weight: 400;
            line-height: 1.875rem;
            /* 30px */
        }
    }

    // Product
    .contents {
        h5 {
            font-family: $font-fam;
            font-size: $h5-18;
            font-weight: 700;
            line-height: 1.375rem;
            /* 22px */
            color: $text-w;
            width: 4.25rem;
            /* 68px */
        }

        ul {
            color: $text-w;
        }
    }

    // Resources
    // Company
    // Tri It Today
    .contents {
        h4 {
            font-family: $font-fam;
            font-size: $h4-28;
            font-weight: 700;
            line-height: 2.25rem;
            /* 36px */
            color: $text-w;
            // width: 9.687rem;/* 155px */
        }
    }
}

// フッター下
.footer-bottom {
    // margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .fb-right{
        display: flex;
        justify-content: space-around;
    }

    .fb-left {
        display: flex;
        width: 737px;
        gap: 60px;

        .language {
            display: flex;
            align-items: center;

            img {
                width: 10px;
                height: 10px;
            }

            #f-language {
                width: 1.187rem;
                /* 19px */
                height: auto;
            }

            span {
                display: block;
                width: 3.312rem;
                /* 53px */
                height: auto;
                font-family: $font-fam;
                font-size: $f-16;
                font-weight: 400;
                line-height: 1.25rem;
                /* 20px */
            }

            #f-arrow {
                width: 1.25rem;
                /* 20px */
                height: auto;
            }
        }
    }
}