// colorコード
// バックグラウンド
$bgc : #043873;
// 文字
$text-w : #ffffff;
$text-b : #212529;

// ボタン
$btn : #4F9CF9;
// コンテンツ幅
$pc-width : 77%;
$sp-width : 100%;
// font 16でわるとrem
$font-fam :"inter";
$h2-72 : 4.5rem;
$h2-64 : 4rem;
$h3-70 : 4.375rem;
$h4-24 : 1.5rem;
$h4-28 : 1.75rem;
$h5-18 : 1.125rem;
$p-18 : 1.125rem;
$f-16 : 1rem;

$h2-fontw : 700; //h2　fontweight 
$h4-fontw : 600;
$p-fontw : 400;


$h2-lineh : 5.437rem; //h2 line-height about87px
$h4-lineh : 2.25rem; //h4 36px
$p-lineh : 1.875rem; //

// 余白
$s-mtb : 8.75rem auto; //h2のマージントップ
$btm-mtop : 3.75rem; //フレックスボックス内のボタンマージンTOP
$p-mtop : 1.5rem; //フレックスボックス内のｐタグマージンTOP



* {
    border: 1px solid gray;
    box-sizing: border-box;
    letter-spacing: -0.02em; //文字間のスペース
    font-family: 'Inter', sans-serif;

}

body {
    max-width: 1920px;
    font-family: 'Inter', sans-serif;
}

section {
    width: 100%;
}

.section-wrap {
    margin: $s-mtb;
    width: $pc-width;
}

.bgc-navy {
    background-color: $bgc;

    h2,
    p,
    nav,
    span {
        color: #ffffff;
    }
}

button {
    // margin: 1rem auto;
    margin-top: $btm-mtop;
    margin-left: 0;
    padding: 1.333rem 2.5rem;
    background-color: $btn;
    border-radius: 0.375rem;
    color: #ffffff;
    height: 3.75rem;
    display: flex;
    align-items: center;
    // position: absolute;


    &:hover {
        opacity: 0.7;
    }

    img {
        margin-left: 0.625rem;
    }
}

h2 {
    // margin-top: $h2-mtop;
    font-family: $font-fam;
    font-size: $h2-72;
    font-weight: $h2-fontw;
    line-height: 5.4rem;
}

h4 {
    font-size: $h4-24;
    font-weight: $h4-fontw ;
    line-height: $h4-lineh;
}

p {
    font-size: $p-18;
    font-weight: $p-fontw;
    line-height: $p-lineh;
}

img {
    display: block;
    width: 50%;
    height: 50%;
}

.vector {
    width: 0.625rem;
    height: 0.625rem;
}

// ヘッター部分
header {
    .section-wrap {
        height: 5.75rem;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;

        .header-left {
            width: 11.937rem;

            img {
                display: block;
                width: 100%;
                height: auto;

            }
        }

        .header-rigth {
            display: flex;


            ul {
                height: 5.75rem;
                display: flex;
                align-items: center;
                

                li {
                    margin-left: 2rem;

                    a {
                        display: flex;
                        align-items: center;
                        text-align: center;

                        img {
                            width: 29px;
                            height: 24px;
                            padding: 5px;
                            margin-left: 0.625rem;
                        }
                    }
                }

            }
        }


        button {
            margin: 1rem auto;
            display: flex;
            align-items: center;
            margin-left: 1.5rem;
            border-radius: 8px;
            padding: 16px 24px;
        }

        .yellow-btn {
            margin-left: 3.75rem;
            background-color: #ffe492;
            color: $text-b;
            border-radius: 8px;
            padding: 16px 40px;
            // font-family: sans-serif;
        }
    }
}

// container　(フレックスボックス)

.container {
    display: flex;
    // justify-content: space-between;

    &.reverse {
        flex-direction: row-reverse;
    }

    p,
    button {
        font-size: $p-18;
    }

    p {
        margin-top: $p-mtop;
    }
}
// mainボタン
main{
    button{
        position: absolute;
    }
}
// section1
.s1 {
    // position: relative;
    height: 61.5rem;// 984px
    background-image: url(../../img/bgimg-element.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:0 228px ;
    .section-wrap{
        margin:$s-mtb ;
    }
    .bgimg-s1 {
        position: absolute;
        width: 100%;
        height: 65.9%;
        margin-top: 228.22px;
        // z-index: 1;
    }
    .container{
        align-items: center;
    }

    .container-box {
        height: 54.2%;
        width: 35.5%;
        margin: 0 auto;
        

        // width: 100%;
        h2 {
            width:100% ;//32.875rem
            font-size: $h2-64;
        }
        button{
            margin-bottom: 0;
        }
    }

    .img-box{
        width: 64.4%;
        height: 60.9%;
        margin-top: 104px;
        img{
            
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    // &::after{
    // content: " ";
    // background-image: url(../img/bgimg-element.png);
    // width: 100%;
    // height: auto;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // }

}

// section2
.s2 {
    // position: relative;
    // z-index: 1;

    background-image: url(../../img/s2_bgimg.png);
    background-size: 602.84px 448.52px;
    background-repeat:no-repeat ;
    background-position: 0 185px;

    .section-wrap{
        height: 1308px;//547+100+661
    }
    .container{
        justify-content: space-between;
        // align-items: center;
        height: 41.8%;
        
        &.reverse{
            height: 661px;
            margin-top: 7.6%;
            // .container-box{
            //     // height: 100%;
                
            // }
            .img-box{
                height: 100%;
                img{
                    width: 100%;
                    height: auto;
                     ;
                }
            }
            .container-box{
                height: 13%;
                margin-top: 14%;
            }
            h2{
                display:flex ;
                
            }
            .s2-udline-2{
                // width: 100%;
                background-image: url(../../img/s2_udline2.png);
                background-repeat: no-repeat;
                background-size: 44.5%;
                background-position: bottom right 44%;
            }
            
        }
    }
    .container-box{
        width: 47%;
        margin: 0 ;
        margin-top: 68px;
        
    }

    .img-box{
        width: 50.5%;
        height: 100%;
        img{
            width: auto;
             height: 100%;
        }
    }
    span {
        display: block;
        width: 71.5%;
        background-image: url(../../img/s2_udline.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;


        // &::after {
        //     position: absolute;
        //     content: '';
        //     display: inline-block;
        //     background-image: url(../../img/s2_udline.png);
        //     background-size: contain; //背景画像全体が見える
        //     background-repeat: no-repeat;
        //     width: 50%;
        //     height: 50%;
        //     left: 12%;
        //     top: 23%;
        //     z-index: 0;

        //     // content: url(../../img/s2_udline.png);
        //     vertical-align: middle;

        // }
    }

   
}

// .section-wrap {
//     margin-top: 4.25rem;
// }

// section3
.s3{
    height: 759px;
    .section-wrap{
        height: 63.1%;
    }
    .container{
     justify-content: space-between;
     height: 100%;
    }
    .container-box{
        width: 48%;
    }
    h2{
        margin-top: 13.2%;
        
    }
    .img-box{
        width: 46.3%;
        height: 100%;
        border: 1px solid #a7cefc;
        background-color: #a7cefc;
       
        img{
            width: auto;
            height: 100%;
            
        }
    }

}

// section4
.s4 {
    margin: 0 auto;
    text-align: center;

    .plan-h2-p {
        width: 66.1%;
        text-align: center;
        margin: 0 auto;
    }

    .plan-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .plan-box {
            width: 31.9%;
            height: 62%;
            padding: 40px 2.75rem;
            text-align: start;
            border: 1px solid #ffe492;
            border-radius: 10px;

            // margin-top: 63.5px;
            span {
                display: block;
                font-size: 2.25rem; //36px
                font-weight: 700;
                line-height: 2.75rem; //44px
                margin: 25px 0; //spも同様

                p {
                    font-weight: 500;
                    line-height: 1.437rem; //23px
                }

                div {
                    font-weight: 400;
                    font-size: 1rem; //16px
                    line-height: 1.25rem; //20px
                }

            }

            button {
                background-color: #ffffff;
                border: 1px solid #ffe492;
                color: #212529;
                margin: 25px 0 40px;

            }

            &.center {
                padding: 0 2.75rem;
                height: 100%;
                margin-top: 0;

                h4 {
                    margin-top: 80px;
                }

                h4,
                div,
                p {
                    color: #ffffff;
                }

                span,
                img {
                    color: #ffe492;
                }

                button {
                    background-color: $btn;
                    border: $btn solid 1px;
                    color: #ffffff;
                    margin-bottom: 80px
                }

                background-color: $bgc;
                border-radius: 10px;
            }

            .content {
                display: flex;
                align-items: center;
                margin-bottom: 28px;

            }

            .content-last {
                margin-bottom: 0;
            }

            img {
                width: 1.125rem; //18px
                margin-right: 1.125rem;
            }

            p {
                margin-bottom: 25px;
            }


        }
    }


}

.atsuko {
    margin: 0 auto;
}