* {
  box-sizing: border-box;
  letter-spacing: -0.02em;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1920px;
  min-width: 768px;
  font-family: "Inter", sans-serif;
}

section {
  width: 100%;
}

.section-wrap {
  margin: 8.75rem auto;
  width: 77%;
}
@media screen and (max-width: 768px) {
  .section-wrap {
    width: 100%;
    margin: 0 16px;
    padding: 0 5%;
  }
}

.bgc-navy {
  background-color: #043873;
}
.bgc-navy h2,
.bgc-navy p,
.bgc-navy nav,
.bgc-navy span {
  color: #ffffff;
}

button {
  margin-top: 3.75rem;
  margin-left: 0;
  padding: 1.333rem 2.5rem;
  background-color: #4F9CF9;
  border-radius: 0.375rem;
  color: #ffffff;
  height: 3.75rem;
  display: flex;
  align-items: center;
}
button:hover {
  opacity: 0.7;
}
button img {
  margin-left: 0.625rem;
}

h2 {
  font-family: "inter";
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.4rem;
}
@media screen and (max-width: 768px) {
  h2 {
    line-height: 43.57px;
    font-size: 36px;
    text-align: center;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}
@media screen and (max-width: 768px) {
  p {
    text-align: center;
  }
}

img {
  display: block;
  width: 50%;
  height: 50%;
}

.vector {
  width: 0.625rem;
  height: 0.625rem;
}

header .ham {
  display: none;
}
@media screen and (max-width: 768px) {
  header .ham {
    display: block;
    width: 42px;
    height: 24px;
  }
}
header .section-wrap {
  height: 5.75rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  header .section-wrap {
    height: 56px;
    padding: 5%;
  }
}
header .section-wrap .header-left {
  width: 11.937rem;
}
header .section-wrap .header-left img {
  display: block;
  width: 100%;
  height: auto;
}
header .section-wrap .header-rigth {
  display: flex;
}
@media screen and (max-width: 768px) {
  header .section-wrap .header-rigth {
    display: none;
  }
}
header .section-wrap .header-rigth ul {
  height: 5.75rem;
  display: flex;
  align-items: center;
}
header .section-wrap .header-rigth ul li {
  margin-left: 2rem;
}
header .section-wrap .header-rigth ul li a {
  display: flex;
  align-items: center;
  text-align: center;
}
header .section-wrap .header-rigth ul li a img {
  width: 29px;
  height: 24px;
  padding: 5px;
  margin-left: 0.625rem;
}
header .section-wrap button {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  border-radius: 8px;
  padding: 16px 24px;
}
header .section-wrap .yellow-btn {
  margin-left: 3.75rem;
  background-color: #ffe492;
  color: #212529;
  border-radius: 8px;
  padding: 16px 40px;
}

.container {
  display: flex;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
.container.reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .container.reverse {
    flex-direction: column;
  }
}
.container p,
.container button {
  font-size: 1.125rem;
}
.container p {
  margin-top: 1.5rem;
}

.s1 {
  height: 61.5rem;
  background-image: url(../../img/bgimg-element.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 228px;
}
.s1 .section-wrap {
  margin-top: 0;
  padding-top: 140px;
}
@media screen and (max-width: 768px) {
  .s1 .section-wrap {
    height: auto;
  }
}
.s1 .bgimg-s1 {
  position: absolute;
  width: 100%;
  height: 65.9%;
  margin-top: 228.22px;
}
.s1 .container {
  align-items: center;
}
.s1 .container-box {
  height: 54.2%;
  width: 35.5%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .s1 .container-box {
    width: 100%;
  }
}
.s1 .container-box h2 {
  width: 100%;
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .s1 .container-box h2 {
    font-size: 36px;
    height: 88px;
    text-align: center;
    line-height: 43.57px;
  }
}
.s1 .container-box button {
  margin-bottom: 0;
}
.s1 .img-box {
  width: 64.4%;
  height: 60.9%;
  margin-top: 104px;
}
@media screen and (max-width: 768px) {
  .s1 .img-box {
    width: 100%;
  }
}
.s1 .img-box img {
  display: block;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .s1 .img-box img {
    margin: 100px auto;
  }
}

.s2 {
  background-image: url(../../img/s2_bgimg.png);
  background-size: 602.84px 448.52px;
  background-repeat: no-repeat;
  background-position: 0 185px;
}
.s2 .section-wrap {
  height: 1308px;
}
@media screen and (max-width: 768px) {
  .s2 .section-wrap {
    height: auto;
  }
}
.s2 .container {
  justify-content: space-between;
  height: 41.8%;
}
.s2 .container.reverse {
  height: 661px;
  margin-top: 7.6%;
}
@media screen and (max-width: 768px) {
  .s2 .container.reverse {
    height: auto;
  }
}
.s2 .container.reverse .img-box {
  height: 100%;
  margin: 60px auto 80px;
}
.s2 .container.reverse .img-box img {
  width: 100%;
  height: auto;
}
.s2 .container.reverse .container-box {
  height: 13%;
  margin-top: 14%;
}
.s2 .container.reverse h2 {
  display: flex;
}
@media screen and (max-width: 768px) {
  .s2 .container.reverse h2 {
    align-items: center;
    justify-content: center;
  }
}
.s2 .container.reverse .s2-udline-2 {
  background-image: url(../../img/s2_udline2.png);
  background-repeat: no-repeat;
  background-size: 44.5%;
  background-position: bottom right 44%;
}
@media screen and (max-width: 768px) {
  .s2 .container.reverse .s2-udline-2 {
    background-position: bottom right 18%;
    background-size: 50%;
  }
}
.s2 .container-box {
  width: 47%;
  margin: 0;
  margin-top: 68px;
}
.s2 .img-box {
  width: 50.5%;
  height: 100%;
}
.s2 .img-box img {
  width: auto;
  height: 100%;
}
.s2 span {
  display: block;
  width: 71.5%;
  background-image: url(../../img/s2_udline.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
@media screen and (max-width: 768px) {
  .s2 button {
    position: relative;
  }
}

.s3 {
  height: 759px;
}
@media screen and (max-width: 768px) {
  .s3 {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .s3 button {
    position: relative;
  }
}
.s3 .section-wrap {
  height: 63.1%;
}
.s3 .container {
  justify-content: space-between;
  height: 100%;
}
.s3 .container-box {
  width: 48%;
}
.s3 h2 {
  margin-top: 13.2%;
}
.s3 .img-box {
  width: 46.3%;
  height: 100%;
  border: 1px solid #a7cefc;
  background-color: #a7cefc;
  margin-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .s3 .img-box {
    margin: 60px auto 80px;
  }
}
.s3 .img-box img {
  width: auto;
  height: 100%;
}
.s3 .s3-udline {
  background-image: url(../../img/s2_udline2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom right 44%;
}

.s4 {
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .s4 {
    height: auto;
    margin-top: 100px;
  }
}
.s4 .section-wrap {
  margin-top: 0;
}
.s4 .container {
  height: 815px;
  justify-content: space-between;
  align-items: center;
}
.s4 .container .container-box {
  height: 50.4%;
  width: 38.9%;
  text-align: start;
}
.s4 .container .container-box .s4-udline {
  display: block;
  width: 100%;
  background-image: url(../../img/s4_udline.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.s4 .container .img-box {
  width: 54.4%;
  height: 65.6%;
}
@media screen and (max-width: 768px) {
  .s4 .container .img-box {
    height: 214px;
    width: 288px;
  }
}
.s4 .container .img-box img {
  width: 100%;
  height: 100%;
}
.s4 .plan-rwap {
  height: 1272px;
}
@media screen and (max-width: 768px) {
  .s4 .plan-rwap {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .s4 .sp {
    display: none;
  }
}
.s4 #s4 {
  margin-top: 10%;
}
.s4 .plan-h2-p {
  width: 68%;
  text-align: center;
  margin: 1.8% auto 4.7%;
}
.s4 .plan-container {
  display: flex;
  justify-content: space-between;
  height: 761px;
}
@media screen and (max-width: 768px) {
  .s4 .plan-container {
    height: auto;
  }
}
.s4 .plan-container .plan-box {
  width: 31.9%;
  height: 664px;
  padding: 40px 44px;
  text-align: start;
  border: 1px solid #ffe492;
  border-radius: 10px;
  margin-top: 63.5px;
}
@media screen and (max-width: 768px) {
  .s4 .plan-container .plan-box {
    height: auto;
  }
}
.s4 .plan-container .plan-box span {
  display: block;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin: 25px 0;
}
.s4 .plan-container .plan-box span p {
  font-weight: 500;
  line-height: 1.437rem;
}
.s4 .plan-container .plan-box span div {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.s4 .plan-container .plan-box button {
  background-color: #ffffff;
  border: 1px solid #ffe492;
  color: #212529;
  margin: 25px 0 40px;
  height: 51px;
}
.s4 .plan-container .plan-box.center {
  padding: 0 2.75rem;
  height: 100%;
  margin-top: 0;
  background-color: #043873;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .s4 .plan-container .plan-box.center {
    width: 100%;
  }
}
.s4 .plan-container .plan-box.center h4 {
  margin-top: 80px;
}
.s4 .plan-container .plan-box.center h4,
.s4 .plan-container .plan-box.center div,
.s4 .plan-container .plan-box.center p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .s4 .plan-container .plan-box.center h4,
  .s4 .plan-container .plan-box.center div,
  .s4 .plan-container .plan-box.center p {
    text-align: start;
  }
}
.s4 .plan-container .plan-box.center span,
.s4 .plan-container .plan-box.center img {
  color: #ffe492;
}
@media screen and (max-width: 768px) {
  .s4 .plan-container .plan-box.center span,
  .s4 .plan-container .plan-box.center img {
    color: #ffffff;
  }
}
.s4 .plan-container .plan-box.center button {
  background-color: #4F9CF9;
  border: #4F9CF9 solid 1px;
  color: #ffffff;
  margin-bottom: 80px;
}
.s4 .plan-container .plan-box .content {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.s4 .plan-container .plan-box .content-last {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .s4 .plan-container .plan-box .content-last {
    margin-bottom: 100px;
  }
}
.s4 .plan-container .plan-box img {
  width: 1.125rem;
  margin-right: 1.125rem;
}
.s4 .plan-container .plan-box p {
  margin-bottom: 25px;
}

.atsuko {
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */