// colorコード
// バックグラウンド
$bgc : #043873;
// 文字
$text-w : #ffffff;
$text-b : #212529;

// ボタン
$btn : #4F9CF9;
// コンテンツ幅
$pc-width : 77%;
$sp-width : 100%;
// font 16でわるとrem
$font-fam :"inter";
$h2-72 : 4.5rem;
$h2-64 : 4rem;
$h3-70 : 4.375rem;
$p-18 : 1.125rem;

$h2-fontw : 700; //h2　fontweight 

$h2-lineh : 5.437rem;//h2 line-height about87px
// 余白
$s-mtb : 8.75rem auto; //h2のマージントップ
$btm-mtop : 3.75rem; //フレックスボックス内のボタンマージンTOP
$p-mtop : 1.5rem; //フレックスボックス内のｐタグマージンTOP



* {
    border: 1px solid gray;
    box-sizing: border-box;
    letter-spacing: -0.02em;//文字間のスペース
}

body{
    max-width: 1920px;
}
section{
    width:100%;
}

.section-wrap{
    margin: $s-mtb; 
    width: $pc-width;
}

.bgc-navy{
    background-color: $bgc;
    h2,p,nav{
        color: #ffffff;
    }
}
button{
    margin-top: $btm-mtop;
    padding: 20px 40px;
    background-color: $btn;
    border-radius: 6px;
    color: #ffffff;
    &:hover{
        opacity: 0.7;
    }
}

h2 {
    // margin-top: $h2-mtop;
    font-family: $font-fam;
    font-size: $h2-72;
    font-weight: $h2-fontw;
    line-height: 5.4rem;
}

// container　(フレックスボックス)
.container{
    display: flex;
    p,button{
        font-size: $p-18;
    }
    p{
        margin-top: $p-mtop;

    }
}
.s2{
    .container .container-box,img{
        width: 50%;

    }

}
h2.fs-64px{
    font-size: $h2-64;
}
.s4{
    h2{
        font-size: 72px;
    }
}






























































































