// colorコード
// バックグラウンド
$bgc : #043873;
// 文字
$text-w : #ffffff;
$text-b : #212529;

// ボタン
$btn : #4F9CF9;
// コンテンツ幅
$pc-width : 77%;
$sp-width : 100%;
// font 16でわるとrem
$font-fam :"inter";
$h2-72 : 4.5rem;
$h2-64 : 4rem;
$h3-70 : 4.375rem;
$h4-28 : 1.75rem;
$h5-18 : 1.125rem;
$p-18 : 1.125rem;
$f-16 : 1rem;

$h2-fontw : 700; //h2　fontweight 

$h2-lineh : 5.437rem;//h2 line-height about87px
// 余白
$s-mtb : 8.75rem auto; //h2のマージントップ
$btm-mtop : 3.75rem; //フレックスボックス内のボタンマージンTOP
$p-mtop : 1.5rem; //フレックスボックス内のｐタグマージンTOP



* {
    border: 1px solid gray;
    box-sizing: border-box;
    letter-spacing: -0.02em; //文字間のスペース
}

body {
    max-width: 1920px;
}

section {
    width: 100%;
}

.section-wrap {
    margin: $s-mtb;
    width: $pc-width;
}

.bgc-navy {
    background-color: $bgc;

    h2,
    p,
    nav,
    span {
        color: #ffffff;
    }
}

button {
    margin-top: $btm-mtop;
    padding: 1.333rem 2.5rem;
    background-color: $btn;
    border-radius: 0.375rem;
    color: #ffffff;
    height: 3.75rem;
        margin: 1rem auto;
        display: flex;
        align-items: center;
        margin-left: 1.5rem;

    &:hover {
        opacity: 0.7;
    }

    img {
        margin-left: 0.625rem;
    }
}

h2 {
    // margin-top: $h2-mtop;
    font-family: $font-fam;
    font-size: $h2-72;
    font-weight: $h2-fontw;
    line-height: 5.4rem;
}

img {
    display: block;
    width: 50%;
    height: 50%;
}

.vector {
    width: 0.625rem;
    height: 0.625rem;
}

// ヘッター部分
header {
    .section-wrap {
        height: 5.75rem;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;

        .header-left {
            width: 11.937rem;

            img {
                display: block;
                width: 100%;
                height: auto;

            }
        }

        .header-rigth {
            display: flex;
            

            ul {
                height: 5.75rem;
                display: flex;
                align-items: center;

                li {
                    margin-left: 2rem;

                    a {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        img{
                            width: auto;
                            height: 1.5rem;
                            margin-left: 0.625rem;
                        }
                    }
                }

            }
        }

        
        button {
            margin: 1rem auto;
            display: flex;
            align-items: center;
            margin-left: 1.5rem;
        }
        
        .yellow-btn {
            margin-left: 3.75rem;
            background-color:#ffe492 ;
            color: $text-b;
        }
    }
}

// container　(フレックスボックス)

.container {
    display: flex;
    justify-content: space-between;

    &.reverse {
        flex-direction: row-reverse;
    }

    p,
    button {
        font-size: $p-18;
    }

    p {
        margin-top: $p-mtop;
    }
}
// セクション1
.s1{
    .container-box,h2{
        width: 32.875rem;
    }
    .s1-img{
        width: 59.625rem;
        height: auto;
    }
    // display: block;
    // background-image: url(../img/bgimg-element.png);
    // width: 100%;
    // height: auto;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;

}
h2.fs-64px {
    font-size: $h2-64;
}

.s4 {
    h2 {
        font-size: 72px;
    }
}